.claude/

cyrus-imap/.env
cyrus-imap/config/imapd.conf
cyrus-imap/config/saslauthd.conf
cyrus-imap/config/cyrus.conf

cyrus-imap/data/lib/*
!cyrus-imap/data/lib/.gitkeep
cyrus-imap/data/spool/*
!cyrus-imap/data/spool/.gitkeep
cyrus-imap/data/tls/*
!cyrus-imap/data/tls/.gitkeep

roundcube/data/*
!roundcube/data/.gitkeep
